{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg'%}{% endblock %}

{% block headers %}
<h1>Fabian Vargas</h1>
<span class="subheading">Magister en Física</span>
{% endblock %}

{% block content %}
<div class="row">
 <div class="col-lg-8 col-md-10 mx-auto">
          <p>¡Hola! Si necesitas poner en marcha tu próximo proyecto o necesitas ayuda con alguna tarea de desarrollo backend, ¡no dudes en ponerte en contacto conmigo! </p>
          <p>Estoy siempre dispuesto 
          a trabajar contigo para encontrar la mejor solución para tus necesidades de desarrollo.</p>
          <br>
          <p><b>Teléfono:</b> +57 3057514878</p>
          <p><b>Mail: </b> fabianricardo.vargasarboleda@gmail.com</p>
        </div>
</div>
{% endblock %}
