{% extends 'core/base.html' %}

{% block title %}Portada{% endblock %}

{% block background %}{% load static %}{% static 'core/img/home-bg.jpg'%}{% endblock %}

{% block headers %}
<h1>Fabian Vargas</h1>
<span class="subheading">Magister en Física - Data Analyst - Django Backend</span>
{% endblock %}

{% block content %}
<p>¡Bienvenid@ a mi portafolio de Data Analyst y Backend!
 Me complace que hayas tomado el tiempo para visitar mi perfil y conocer más sobre mí y mis habilidades. </p>
 <p>Aqui podras encontrar un poco sobre mi perfil profesional y algunos trabajos que he desarrollado, espero los disfrutes.</p>
{% endblock %}



